body {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/97/80/832/minecraft-shaders-video-games-wallpaper-c96068cd316addeb0667a81f0031b67d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.RedeTrinity {
    color: beige;
    text-align: center;
    padding-top: 250px;
}
